/* Main Page */
.container-main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(./img/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff !important;
}

.center {
  margin-left: -7.5%;
  margin-right: auto;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: fixed;
  margin: 1.2em;
  right: 0;
  z-index: 1;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

button:focus {
  outline: none !important;
}

i {
  outline: none;
  padding: 0.3em;
  color: #fff;
  /* border: 1px solid #000; */
  /* background: #000; */
  border-radius: 50%;
}

.row,
.col-lg {
  margin: 0 !important;
  padding: 0 !important;
}

.col-lg {
  height: 100vh;
}

.col-lg.overlay {
  background: #000;
  position: absolute;
  /* pasar a -100 */
  top: -100%;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  display: inline-block;
}

li:hover {
  cursor: pointer;
}

/* Spacing */
li:not(:last-child) {
  margin-right: 120px;
}

li:first-child:hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: url("./img/01.jpg");
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

li:nth-child(2):hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: url("./img/02.jpg");
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

li:nth-child(3):hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: url("./img/03.jpg");
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

li:nth-child(4):hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: url("./img/04.jpg");
  transition: 1s;
  animation: fade-in 2s ease-in-out;
}

/* Portfolio */

.container-portfolio {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background: url(./img/portfolio/back.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.whitespace {
  height: 100px;
}

.return {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

#picTitles {
  font-family: "Helvetica Neue";
  color: #fff;
}

#portImg {
  width: 100%;
}

.txt {
  position: relative;
}

.one {
  margin-top: 100px;
}

.text-1 {
  top: 160px;
  left: -90px;
}

.text-2 {
  z-index: 1;
  top: 280px;
  left: 280px;
}

.three {
  z-index: 2;
  top: -720px;
  width: 120%;
}

.four {
  margin-top: -400px;
}

.text-3 {
  z-index: 1;
  top: -140px;
  left: -100px;
}

.text-4 {
  z-index: 1;
  top: 300px;
  left: 300px;
}

.six {
  top: -750px;
}

/* Key Frames */

@keyframes fade-in {
  0% {
    opacity: 0;
    top: -160px;
  }
  50% {
    opacity: 1;
    top: -180px;
  }
  100% {
    opacity: 1;
    top: -180px;
  }
}

/* Media Queries */

@media (max-width: 900px) {
  li {
    text-align: center;
    display: block !important;
    margin: 0 !important;
    padding: 20px 0;
  }
  li:hover::before {
    width: 0 !important;
  }
  .txt {
    display: none;
  }
}
